* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
  width: 100%;
  height: 100;
  overflow: hidden;
}

.beach-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: contrast(118%) saturate(70%) hue-rotate(2deg);
  z-index: 1;
}
