.contact-form-wrapper {
  position: relative;
}

.contact-form-wrapper .form-container {
  position: absolute; /*ca sa vina formul peste hero section*/
  top: 7%;
  left: 25%;
  z-index: 10;
  padding: 1rem;
  border-radius: 10px;
  max-width: 850px;
  max-height: 100vh;
}

.contact-form-wrapper .hero-content {
  display: none;
}
