.contact-page {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.contact-left {
  width: 55%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.contact-left .hero-image {
  flex: 1;
}
.contact-left header {
  transform: scale(0.9);
  transform-origin: top left;
  width: 115%;
}
.contact-right {
  width: 45%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow-y: auto;
}

.contact-footer {
  width: 100%;
  margin-top: -5rem;
}
