@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}

.nav a {
  font-family: "Roboto", sans-serif;
}

.action-logo {
  font-family: "roboto", serif;
}

.runo-description {
  font-family: "lora", serif;
}

.logo {
  font-size: "Spartan", sans-serif;
}

.topics-nav a {
  font-family: "lora", serif;
}
.view-all {
  font-family: "lora", serif;
}

.popular-topics {
  font-family: "lora", serif;
}
